In [8]:
# Machine learning
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
  
# For data manipulation
import pandas as pd
import numpy as np
  
# To plot
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')
  
# To ignore warnings
import warnings
warnings.filterwarnings("ignore")


import datetime as dt
import pandas as pd
import numpy as np
from numpy import arange
import matplotlib.pyplot as plt
from pandas import read_csv
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RandomizedSearchCV

In [9]:
df = pd.read_csv('data.csv')
df

,fund_symbol,price_date,open,high,low,close,adj_close,volume
0,AAA,2020-09-09,25.10,25.12,25.07,25.07,24.85,17300
1,AAA,2020-09-10,25.06,25.07,25.05,25.07,24.85,23500
2,AAA,2020-09-11,25.04,25.05,25.02,25.03,24.81,33400
3,AAA,2020-09-14,25.01,25.06,25.01,25.02,24.80,13100
4,AAA,2020-09-15,25.02,25.03,25.01,25.01,24.79,12100
...,...,...,...,...,...,...,...,...
2310467,ZROZ,2021-11-23,149.68,149.76,147.73,147.73,147.73,23700
2310468,ZROZ,2021-11-24,148.21,151.03,148.06,151.03,151.03,29100
2310469,ZROZ,2021-11-26,153.47,155.88,153.47,155.66,155.66,29000
2310470,ZROZ,2021-11-29,153.00,154.93,152.97,154.68,154.68,252000
2310471,ZROZ,2021-11-30,156.56,158.64,156.21,157.75,157.75,133100

In [10]:
# Changes The Date column as index columns
df.index = pd.to_datetime(df['price_date'])
df
  
# drop The original date column
df = df.drop(['price_date'], axis='columns')
df=df[df['fund_symbol']=='AAA']
df = df.drop(['fund_symbol'], axis='columns')
df

             open   high    low  close  adj_close  volume
price_date
2020-09-09  25.10  25.12  25.07  25.07      24.85   17300
2020-09-10  25.06  25.07  25.05  25.07      24.85   23500
2020-09-11  25.04  25.05  25.02  25.03      24.81   33400
2020-09-14  25.01  25.06  25.01  25.02      24.80   13100
2020-09-15  25.02  25.03  25.01  25.01      24.79   12100
...           ...    ...    ...    ...        ...     ...
2021-11-23  25.04  25.04  25.02  25.03      25.03   27800
2021-11-24  25.03  25.04  25.02  25.02      25.02     500
2021-11-26  25.04  25.04  25.02  25.02      25.02     500
2021-11-29  25.02  25.03  25.02  25.03      25.03     900
2021-11-30  25.04  25.04  25.04  25.04      25.04     100

[310 rows x 6 columns]

In [11]:
df['Open-Close'] = df.open - df.close
df['High-Low'] = df.high - df.low
  
# Store all predictor variables in a variable X
X = df[['Open-Close', 'High-Low']]
X.head()

            Open-Close  High-Low
price_date
2020-09-09        0.03      0.05
2020-09-10       -0.01      0.02
2020-09-11        0.01      0.03
2020-09-14       -0.01      0.05
2020-09-15        0.01      0.02

In [12]:
y = np.where(df['close'].shift(-1) > df['close'], 1, 0)
y

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0])

In [13]:
split_percentage = 0.8
split = int(split_percentage*len(df))
  
# Train data set
X_train = X[:split]
y_train = y[:split]
  
# Test data set
X_test = X[split:]
y_test = y[split:]

In [14]:
#cls = SVC().fit(X_train, y_train)
svr = SVC(C=1e3, gamma=0.1)
# Train the model 
svr.fit(X_train, y_train)
svm_confidence = svr.score(X_test, y_test)
print('svm confidence:', svm_confidence)

svm confidence: 0.7741935483870968